body{
    background-image: url('homepage-images/homepage-pattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reader{
    padding-right:30px;
    padding-left:0;
    padding-top:0;
    display:flex;
    flex-flow:row;
    background-color:whitesmoke;
}


/*        STICKYMENU      */

.reader #stickymenu{
    min-width:150px;
    padding:0px;
    overflow: hidden;
    display:flex;
}

.reader #stickymenu .sticky{
/*    border-right:3px dashed grey;*/
}

.reader #stickymenu .sticky.stickytrue
{
    position:fixed;
    top:0px;
}
.reader #stickymenu .contentindicator:hover,
.reader #stickymenu .contentindicator.clicked{
    background-color:orangered;
    cursor:pointer;
}

.reader #stickymenu .sticky.stickybottom{
    position:relative;
    margin-top:auto;
    align-self:flex-end;
}


/*      CONTENTBOX       */

.reader #contentbox{
    flex:1;
    padding:20px 35px;
    padding-bottom:0px;
}

.reader #contentbox .contentplate{
    margin:0px 0px;
    padding-bottom:50px;
    padding-top:30px;
    border-bottom:2.5px dashed grey;
}

.reader #contentbox .contentplate:last-of-type{
    border-bottom:none;
}

.reader #contentbox .contentplate:nth-of-type(1){
    margin-top:0;
}

.reader #contentbox .contentplate .btn
{
    width:100%;
    height:240px;
    text-align:center;
    padding:30px 0px;
}



/*     SVG  btn*/
.reader #stickymenu .btn{
    width:100px;
    height:80px;
    padding:20px 25px;
}
.reader #stickymenu .contentindicator:hover .btn,
.reader #stickymenu .contentindicator.clicked .btn{
    fill:whitesmoke;
}

/*    EMAIL SENDER  */

form.email-sender{
    border-radius:25px;
    max-width:900px;
    padding:20px 25px;
    background-color:white;
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:25px;
    grid-row-gap:15px;
    margin:30px auto;
    position:relative;
}

form.email-sender .email-sender-cell{
    padding:30px 15px;
}

form.email-sender .email-sender-cell input{
    display:block;
    margin:auto;
    border:none;
    border:.5px solid grey;
    border-radius:5px;
    padding:10px 15px;
    font-size:17px;
    font-family:'Nunito',sans-serif;
}

form.email-sender .email-sender-cell:nth-of-type(3){
    padding-top:0px;
    padding-bottom:0px;
    grid-column-start: 1;
    grid-column-end: 3;
}

form.email-sender .email-sender-cell:nth-of-type(3) textarea{
    width:100%;
    height:200px;
    font-size:18px;
    font-family:'Nunito',sans-serif;
    padding:5px;
    border:.5px solid grey;
}

form.email-sender .email-sender-cell:nth-of-type(4){
    grid-column-start:2;
    grid-column-end:3;
    padding:5px 15px;
}

form.email-sender .email-sender-cell:nth-of-type(4) input{
    margin-left:auto;
    margin-right:0;   
}
form.email-sender .email-sender-cell:nth-of-type(4) input:hover{
    background-color:green;
    transition:.15s linear;
    color:whitesmoke;
    cursor:pointer;
}

